[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Mark Henry
	email = marknhenry@live.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
[pull]
	rebase = false
